@{
    ViewData["Title"] = "Getting started";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div>
        <h1>Starting guide</h1>
        <hr />
        <p>The aim of the game is to create your bike and try to achieve the best time on every track!</p>
        <p>
            Every user starts with 1000 tokens and can create up to 3 (5 for Premium players) bikes.
            Then you can go to the <a class="text-info" href="/Store/Index">Store</a> page to buy parts for your bike.
        </p>
        <p>
            Once you are done with shopping, you can use the purchased parts to upgrade your bike.
            You can equip up to 3 parts of type "Other" and only 1 from the other types.
        </p>
        <p>
            Be careful with the stats of the parts and the type of your bike. Some types make better use of different attributes.
            For example, a FSMTB will gain more from the Suspension Rating of the parts, where a Road bike will make better use of the Speed Rating.
            The Weight is also a factor. Try to find the best rating-weight ratio for your type of bike. All these attributes will affect your final score.
        </p>
        <p>
            Finally it is time to race. Head to the <a class="text-info" href="/Race/Index">Race Center</a> and pick your Track.
            But be carefull to match your Bike Type with the Track Type. For example, the Road type Bike is better suited for Road type Track,
            where a FSMTB is better suited for DH and so on.
        </p>
        <p>
            Thank you for participating.
        </p>
        <hr />
        <p>Good luck on your track, Rider!</p>
    </div>
</div>
