<li class="nav-item">
    <div class="dropdown">
        <a class="text-decoration-none dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Moderate<i class="ml-1 fas fa-caret-down"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" asp-area="Cved" asp-controller="Parts" asp-action="Menu">Parts</a>
            <a class="dropdown-item" asp-area="Cved" asp-controller="Tracks" asp-action="Menu">Tracks</a>
        </div>
    </div>
</li>