@model TrackCreateModel

@{
    ViewData["Title"] = string.Format("Edit  - {0}", Model.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid background-body">
    <div class="container py-3 text-center">
        <div class=" row justify-content-center">
            <h1>Edit track</h1>
        </div>
        <hr class="mt-0" />
        <form method="post">
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Type"></label>
                        <select class="browser-default custom-select" asp-for="Type" asp-items="Html.GetEnumSelectList<TrackType>()">
                            <option selected="" value="">Select</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Elevation"></label>
                        <input asp-for="Elevation" class="form-control" />
                        <span asp-validation-for="Elevation" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Distance"></label>
                        <input asp-for="Distance" class="form-control" />
                        <span asp-validation-for="Distance" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

