@model string

@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron background-body">
    <h1 class="pt-2 text-danger">404 Not Found</h1>
    <hr />
    <h3 class="text-warning">This is not the page you are looking for!</h3>
    <hr />
    <h5>The page you are trying to view does not exist, or you dont have permisson to access it!</h5>
</div>