@{
    ViewData["Title"] = "Add Cat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <h1 class="text-center text-success">Add Cat</h1>
    <hr class="bg-success w-50" style="height: 2px" />
    <form class="w-50 mx-auto" action="/cats/add" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Cat name..." />
        </div>  
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number" class="form-control" id="age" name="age" placeholder="Cat age..." />
        </div>     
        <div class="form-group">
            <label for="breed">Breed</label>
            <input type="text" class="form-control" id="breed" name="breed" placeholder="Cat breed..." />
        </div> 
        <div class="form-group">
            <label for="imageURL">Image URL</label>
            <input type="text" class="form-control" id="imageURL" name="imageURL" placeholder="Cat image URL..." />
        </div>
        <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn bg-success text-white">Add Cat</button>
        </div>
    </form>
</main>
