
<li class="nav-item">
    <div class="dropdown">
        <a class="text-decoration-none dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin panel<i class="ml-1 fas fa-caret-down"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" asp-area="Admin" asp-controller="Player" asp-action="All">Players</a>
        </div>
    </div>
</li>